#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#my_carousel{
background-color:red;
}
img{
margin-top:30px
}